:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #6369dc;
}

label {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  height: fit-content;
  width: fit-content;
  margin-right: 10px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 100px;
}

.form-section {
  padding: 35px;
  box-sizing: border-box;
}

.form-section {
  color: #ddd;
  padding: 20;
}

.expandable-header {
  cursor: pointer;
  font-size: 1.1em;
  color: #ffffff;
  margin: 0;
  padding: 10px;
  background-color: #1a1a1a;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  transition: border-color 0.25s;
}

.expandable-header:hover {
  border-color: #646cff;
}
.expandable-header:focus,
.expandable-header:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-content {
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  max-height: 0;
  opacity: 0;
  padding: 0 10px;
  overflow-y: auto;
}

.form-content.visible {
  max-height: 500px;
  opacity: 1;
  padding: 10px;
}

.form-content input,
.form-content textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 5px;
}

.form-content ul {
  list-style-type: none;
  padding: 0;
}

.form-content li {
  padding: 5px 0;
}

.add-language-button,
.add-education-button,
.add-experience-button,
.add-proComp-button,
.add-digComp-button {
  margin-top: 10px;
}

.curriculum-container {
  padding: 20px;
  box-sizing: border-box;
  width: 210mm;
  height: 295mm;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: white;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: repeat(50, 2%);
}

.circle {
  width: 290px;
  height: 1050px;
  background: rgb(120, 153, 245);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 150px;
  z-index: 1;
  grid-column: 1 / 2;
  grid-row: 1 / 20;
  display: flex;
  justify-self: center;
}

.profile-image {
  grid-column: 1 / 2;
  grid-row: 1 / 12;
  z-index: 2;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  padding: 20px;
  margin: 0 auto;
}

.aboutCV {
  grid-column: 1 / 2;
  grid-row: 12 / 13;
  text-align: center;
  font-size: 18px;
  z-index: 2;
  margin-top: 5px;
}

.bioCV {
  grid-column: 1 / 2;
  grid-row: 13 / 36;
  font-size: 15px;
  display: flex;
  text-align: center;
  z-index: 2;
  margin: 10px;
}

.contactCV {
  grid-column: 1 / 2;
  grid-row: 34 / 35;
  font-size: 18px;
  text-align: center;
  z-index: 2;
}

.emailCV {
  grid-column: 1 / 2;
  grid-row: 36 / 37;
  font-size: 15px;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.phoneCV {
  grid-column: 1 / 2;
  grid-row: 38 / 39;
  font-size: 15px;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.phone-icon,
.email-icon {
  width: 20px;
  height: 20px;
}

.languageCV {
  grid-column: 1 / 2;
  grid-row: 41 / 42;
  font-size: 18px;
  text-align: center;
  z-index: 2;
  margin: 0;
}

.langContentCV {
  grid-column: 1 / 2;
  grid-row: 43 / 45;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  gap: 11px;
}

.nameCV {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  text-align: left;
  margin-top: 10px;
}

.workCV {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  font-size: 18px;
  padding-left: 50px;
  padding-top: 10px;
}

.workContentCV {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
  font-size: 13px;
  padding-left: 50px;
}

.academicCV {
  grid-column: 2 / 4;
  grid-row: 25 / 26;
  font-size: 18px;
  padding-left: 50px;
}

.academicContentCV {
  grid-column: 2 / 4;
  grid-row: 27 / 28;
  font-size: 13px;
  padding-left: 50px;
}

.professionalCV {
  grid-column: 2 / 3;
  grid-row: 38 / 40;
  font-size: 17px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.proContentCV {
  grid-column: 2 / 3;
  grid-row: 39 / 50;
  font-size: 15px;
  padding-left: 50px;
}

.digitalCV {
  grid-column: 3 / 4;
  grid-row: 38 / 40;
  font-size: 17px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.digContentCV {
  grid-column: 3 / 4;
  grid-row: 39 / 50;
  font-size: 15px;
  padding-left: 50px;
}

.download-button {
  display: flex;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  cursor: pointer;
  font-size: 1.1em;
  color: #ffffff;
  padding: 10px;
  background-color: #1a1a1a;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  transition: border-color 0.25s;
}

.download-pdf-button {
  display: flex;
  justify-content: center;
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

footer,
footer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  margin: 0;
  color: #ccc;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.page-title {
  font-size: 1.5rem;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
